.breadcrumb {
    display: flex;
    justify-content: center; /* Agar breadcrumb berada di tengah secara horizontal */
    padding: 8px 16px; /* Padding di sekitar breadcrumb */
    background-color: #3080cf; /* Warna latar belakang breadcrumb */
    border-radius: 4px; /* Membuat sudut breadcrumb menjadi melengkung */
    text-align: center; /* Mengatur teks agar berada di tengah */
  }
  
  .breadcrumb--small {
    padding: 4px 8px; /* Ukuran padding yang lebih kecil untuk small breadcrumb */
  }
  
  .breadcrumb--medium {
    padding: 8px 16px; /* Ukuran padding yang sedang untuk medium breadcrumb */
  }
  
  .breadcrumb--large {
    padding: 12px 24px; /* Ukuran padding yang lebih besar untuk large breadcrumb */
  }
  
  .breadcrumb--custom {
    background-color: #e9ecef; /* Warna latar belakang custom */
    color: #007bff; /* Warna teks custom */
  }
  
  /* Tambahkan kelas untuk ukuran font berdasarkan type */
  .breadcrumb-font--small {
    font-size: 12px; /* Ukuran font kecil */
  }
  
  .breadcrumb-font--medium {
    font-size: 16px; /* Ukuran font sedang */
  }
  
  .breadcrumb-font--large {
    font-size: 20px; /* Ukuran font besar */
  }
  
  .breadcrumb-item {
    display: inline-flex; /* Untuk membuat item breadcrumb menjadi inline dan fleksibel */
    align-items: center; /* Mengatur item breadcrumb agar berada di tengah secara vertikal */
  }
  
  .breadcrumb-item a {
    color: inherit; /* Warna teks link mengikuti warna teks breadcrumb */
    text-decoration: none; /* Menghapus underline default pada link */
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline; /* Menambahkan underline saat link dihover */
  }
  
  .breadcrumb-separator {
    margin: 0 8px; /* Memberikan jarak horizontal pada separator */
  }
  
  .breadcrumb-home-icon {
    margin-right: 4px; /* Menambahkan jarak di sebelah kanan ikon rumah */
  }